altgraph
bottle
bottle-websocket
Brotli
certifi
cffi
click
cx-Freeze
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-table-experiments
Flask
Flask-Caching
Flask-Compress
future
gevent
gevent-websocket
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-contrib-python
pandas
pefile
plotly
py2exe
pycparser
PyInstaller
python-dateutil
pytz
pywin32-ctypes
retrying
scipy
setuptools
six
Werkzeug
wheel
whichcraft
wincertstore
zope.event
zope.interface
plotly-express
